body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(21, 21, 21);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 70px;
  color: #ffc107;
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: 0px 0px 0 rgb(250, 188, 2), 1px 1px 0 rgb(245, 183, 0),
    2px 2px 0 rgb(240, 178, 0), 3px 3px 0 rgb(235, 173, 0),
    4px 4px 0 rgb(230, 168, 0), 5px 5px 0 rgb(225, 163, 0),
    6px 6px 0 rgb(220, 158, 0), 7px 7px 0 rgb(215, 153, 0),
    8px 8px 0 rgb(210, 148, 0), 9px 9px 0 rgb(205, 143, 0),
    10px 10px 0 rgb(200, 138, 0), 11px 11px 10px rgba(0, 0, 0, 0.6),
    11px 11px 1px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.2);
    animation-duration: 6s;
    animation-name: screen-saver;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes screen-saver {
  from {
    margin-left: 100%;
  }
  to {
    margin-right: 100%;
  }

  /* porcentaje de fotogramas */
  10% {
    margin-top: 500px;
  }
  30% {
    margin-top: -500px;
  }
  50% {
    margin-top: 500px;
  }
  70% {
    margin-top: -500px;
  }
  90% {
    margin-top: 500px;
  }
  100% {
    margin-top: 0;
  }
}

/* Animemos al p */
p {
  /* Parte de una animacion */
  /* Tiempo
    4s = 4 segundos
    El tiempo de una animacion puede ser en
    s = segundos
    ms = milisegundos 
  */
  animation-duration: 4s;
  /* Nombre de la animacion */
  /* Es necesario un nombre de animacion para poder enlazar nuestra animacion con un keyframe */
  /* EN EL ELEMENTO SE DETALLA LA CONFIGURACION DEL NOMBRE Y TIEMPO PARA PODER CONFIGURAR LA ANIMACION EN LA SIGUIENTE PARTE */
  animation-name: primera-animacion;
  /* la siguiente propiedad define las veces que se repita la animacion */
  /* Con el simple numero se define las veces, si se deseas un bucle infinito se indica "infinite" */
  animation-iteration-count: 2;
  /* Para definir la direccion con la que se va animar el elemento se usa la siguiente propiedad. por defecto esta en normal, de izq a der, pero si se coloca alternate, dara una ida y vuelta las veces que se haya definido, como un bucle */
  animation-direction: alternate;
}

/* keyframes es la llave o medio de empezar una animacion, en este apartado se configura las caracteristicas de la animacion y se identifica con el nombre designado peviamente, como en el caso anterior llamando al elemento "p" como "primera-animacion */
@keyframes primera-animacion {
  /* lo que esta dentro de "keyframmes" se llaman fotogramas */
  
  /* inicio de animacion */
  from {
    margin-left: 100%;
    margin-top: 40%;
  }

  /* final de animacion */
  to {
    color: red;
    font-size: 100px;
  }
}
