body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(21, 21, 21);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    animation-duration: 4s;
    animation-name: animacion-body;
    animation-iteration-count: 4;
}

/* ANIMEMOS AL P */

p {
    /* PARTES DE UNA ANIMACION */
    /* 1. TIEMPO */
    animation-duration: 4s;
    /* NOMBRE ANIMACION */
    animation-name: primera-animacion;
    /* Se colca nombre porque se debe enlazar la animacion con nuestro keyframe */
    /* Veces que se repite animacion con "infinite" para repetir infinitamente*/
    animation-iteration-count: 4;
    animation-direction: alternate;
}

@keyframes primera-animacion {
    /* Aqui dentro se construye la animacion fotograma a fotograma */
    /* Inicio de la animacion */
    from {
        margin-left: 100%;
        margin-top: 40%;
    }
    /* Hacia donde va la animacion o final de animacion */
    to {
        color: red;
        font-size: 100px;
        background-color: white;
    }
}

@keyframes animacion-body {
    from {
        background-color: beige;
    }
    to {
        background-color: black;
    }
}

h1 {
    font-size: 70px;
    color: #ffc107;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(250, 188, 2), 1px 1px 0 rgb(245, 183, 0),
      2px 2px 0 rgb(240, 178, 0), 3px 3px 0 rgb(235, 173, 0),
      4px 4px 0 rgb(230, 168, 0), 5px 5px 0 rgb(225, 163, 0),
      6px 6px 0 rgb(220, 158, 0), 7px 7px 0 rgb(215, 153, 0),
      8px 8px 0 rgb(210, 148, 0), 9px 9px 0 rgb(205, 143, 0),
      10px 10px 0 rgb(200, 138, 0), 11px 11px 10px rgba(0, 0, 0, 0.6),
      11px 11px 1px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.2);
    animation-duration: 6s;
    animation-name: screen-saver;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes screen-saver {
    from {
        margin-left: 100%;
    }
    to {
        margin-right: 100%;
    }
    /* PORCENTAJE DE FOTOGRAMAS */
    10% { 
        margin-top: 500px;
    }
    30% {
        margin-top: -500px;
    }
    50% {
        margin-top: 500px;
    }
    70% {
        margin-top: -500px;
    }
    90% {
        margin-top: 500px;
    }
    100% {
        margin-top: 0;
    }
}